.movie-container {
    margin: 20px 0;
    select {
        background-color: $claro;
        border: 0;
        border-radius: 5px;
        font-size: 14px;
        margin-left: 10px;
        padding: 5px 15px 5px 15px; // T,R,B,L
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;
        outline: none;
    }
}

.seat {
    background-color: #444451;
    height: 12px;
    width: 15px;
    margin: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
} 